<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitioal.dtd">
<html>
    <head>
        <title>Black List - NELIST</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <style type="text/css">
            body{
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">NELIST</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="/">首页</a></li>
                            <li><a href="/mysql">MySQL</a></li>
                            <li><a href="/couchdb">CouchDB</a></li>
                            <li class="active"><a href="/blacklist">黑名单</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="container" class="container">
            <div class="hero-unit">
                <h1>Black List</h1>
                <hr />
                <p>
                    <% if(typeof(action)!='undefined'){ %>
                        <% if(action == 'add'){ %>
                        <p><%= screen_name %>添加成功！</p>
                        <% }else if(action == 'del'){ %>
                        <p><%= screen_name %>删除成功！</p>
                        <% }else if(action == 'addFriends'){ %>
                        <p>正在将<%= screen_name %>的关注人添加进黑名单..</p>
                        <% } %>
                    <% }else{ %>
                    <p>批量上传成功！</p>
                    <% } %>
                    <a class="btn btn-default" href="/blacklist">返回</a>
                </p>

            </div>
            <hr />
            <footer>
                <p>NELIST 2014</p>
            </footer>
        </div>
    </body>
    <script src="/javascripts/jquery-2.1.0.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</html>
