<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitioal.dtd">
<html>
    <head>
        <title>mysql - NELIST</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <style type="text/css">
            body{
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">NELIST</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <% if(dbName == 'mysql'){ %>
                                <li><a href="/">首页</a></li>
                                <li class="active"><a href="/mysql">MySQL</a></li>
                                <li><a href="/couchdb">CouchDB</a></li>
                                <li><a href="/blacklist">黑名单</a></li>
                            <% } %>
                            <% if(dbName == 'couchdb'){ %>
                                <li><a href="/">首页</a></li>
                                <li><a href="/mysql">MySQL</a></li>
                                <li class="active"><a href="/couchdb">CouchDB</a></li>
                                <li><a href="/blacklist">黑名单</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="container" class="container">
            <div class="hero-unit">
                <h1>MySQL</h1>
                <hr />
                <p>请选择表：</p>
                <p>
                <a class="btn btn-large" href="/<%= dbName %>/dataset">dataset</a>
                <a class="btn btn-large" href="/<%= dbName %>/user">user</a>
                <a class="btn btn-large" href="/<%= dbName %>/weibo">weibo</a>
                </p>
            </div>
            <hr />
            <footer>
                <p>NELIST 2014</p>
            </footer>
        </div>
    </body>
    <script src="/javascripts/jquery-2.1.0.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</html>
